<p-toast position="top-right" key="log"></p-toast>
<div class="menu">
  <div class="dashboard">
    <input checked="" class="menu_input" id="btn1" name="menu" type="radio" /><label class="menu_label" for="btn1">
    <div [routerLink]="['devices']"
    class="menu_text">
      devices
    </div>
  </label>
  
  <input class="menu_input" id="btn2" name="menu" type="radio" />
  <label class="menu_label" for="btn2">
      <div [routerLink]="['users']" >
      Employee</div>
  </label>
  </div>
  <div class="login">
    <input class="menu_input" id="btn3" name="menu" type="radio" /><label class="menu_label" for="btn3">
    <div [routerLink]="['login']"  class="menu_text">
      <div *ngIf="status != 'sign out'">
        {{status}}
      </div>
      <div (click)="out()" *ngIf="status == 'sign out'">
    {{status}}
      </div>
    </div>
  </label>
  </div>
</div>


<router-outlet></router-outlet>






<!-- 



<app-devices-dashboard style="display:none ;"></app-devices-dashboard>
<app-employee-dashboard style="display:none ;" [employees]="employees"></app-employee-dashboard >
 -->
